td.time {
    width: 10em;
}
td.level {
    width: 4em;
}

.level.error {
    background: #D11010;
    color: white;
}
.level.warning {
    background: #FCCD43;
}

.emptylog {
    font-weight: bold;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}
