td.time {
    width: 10em;
}
td.level {
    width: 4em;
}

.level.error {
    background: #D11010;
    color: white;
}
.level.warning {
    background: #FCCD43;
}

.message {
    white-space: pre;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
}

.emptylog {
    font-weight: bold;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

h1 {
    margin-top: 0.5em;
}
