<!DOCTYPE html>
<html>
    <head>
        {% block head -%}
        <title>{% block title %}Loglet{% endblock %}</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static',
                               filename='bootstrap-responsive.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='loglet.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
