{% extends "base.html" %}
{% block title %}Loglet{% endblock %}
{% block content %}
    <h1>
        Loglet
        <small>Like a log file&mdash;but cloudier</small>
    </h1>
    <div class="row-fluid">
        <div class="span8 main intro">
            <p>
                Loglet is a tiny tool for keeping tabs on long-running
                processes. Send log messages to Loglet using a simple
                <code>POST</code> request and then view them in your browser or
                subscribe to an Atom feed.
            </p>

            <h3>1. Create a Log</h3>
            <p>
                Hit the button to start a brand-new, empty log.
                You&rsquo;ll get a private, hard-to-guess URL like
                <code>{{ request.url_root }}2LNbYgNEAaezJduj</code>.
            </p>
            <form action="{{ url_for('newlog') }}" method="POST">
                <input type="submit" value="New Log" class="btn primary">
            </form>

            <h3>2. Send Messages</h3>
            <p>
                Send HTTP <code>POST</code> requests to your log&rsquo;s URL.
                Include a <code>message</code> parameter containing your log
                string and, optionally, a <code>level</code> parameter (which
                should be an integer) indicating the severity of the message.
                Try it out with <a href="http://curl.haxx.se/">cURL</a>:
            </p>
            <pre>curl -d message=hello {{ request.url_root }}LOGID</pre>
            <p>
                Get
                <a href="https://github.com/sampsyo/loglet/blob/master/extra/loglet.sh">loglet.sh</a>
                for more convenient logging from the shell.
                There&rsquo;s also
                <a href="https://pypi.python.org/pypi/loglet">a
                    handler available</a> 
                for the
                <a href="http://docs.python.org/library/logging.html">Python
                    <code>logging</code> module</a>
                (you can install it using <code>pip install loglet</code>):
            </p>
            <pre>import logging
import loglet
log = logging.getLogger('mylog')
log.addHandler(loglet.LogletHandler('2LNbYgNEAaezJduj'))
log.error('something horrible has happened')</pre>

            <h3>3. Read Your Log</h3>
            <p>
                You can read your log in a browser or get in plain text, JSON,
                or Atom format by appending <code>/txt</code>,
                <code>/json</code>, or <code>/feed</code> to the end of your
                URL.
            </p>
        </div>
        <div class="span4 sidebar">
            <h5>Open Source</h5>
            <p>
                Loglet is 
                <a href="https://github.com/sampsyo/loglet">on GitHub</a>.
                Fork and enjoy. It&rsquo;s built with
                <a href="http://flask.pocoo.org/">Flask</a>,
                <a href="http://www.sqlite.org/">SQLite</a>,
                and
                <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
                {% if 'radbox.org' in request.url_root -%}
                Hosted by <a href="http://dotcloud.com/">DotCloud</a>.
                {%- endif %}
            </p>
            <h5>Notifications</h5>
            <p>
                Get log messages sent to your phone or desktop via your
                <a href="http://notifo.com/">Notifo</a> account.
            </p>
            <h5>Mobile-Optimized</h5>
            <p>
                Try viewing a log in your phone&rsquo;s browser.
            </p>
            <h5>Limits</h5>
            <p>
                Log messages are limited to
                {{ config.MAX_MSG_LENGTH }} characters
                each. Levels can range from
                {{ config.MIN_LEVEL }} to
                {{ config.MAX_LEVEL }}.
                Each log can have up to
                {{ config.MAX_MESSAGES }} messages; old
                messages will be dropped when this limit is exceeded.
            </p>
            <h5>Author</h5>
            <p>
                Loglet is by
                <a href="http://www.cs.washington.edu/homes/asampson/">Adrian
                    Sampson</a>
                (<a href="http://twitter.com/samps">@samps</a>).
                You might also be interested in
                <a href="http://beets.radbox.org/">beets</a>, an open-source
                music tagger and organizer for mega-nerds.
            </p>
        </div>
    </div>
{% endblock %}
