{% extends "base.html" %}
{% block title %}Loglet{% endblock %}
{% block content %}
    <h1>
        Loglet
        <small>Like a log file&mdash;but cloudier</small>
    </h1>
    <div class="row">
        <div class="span10 columns">
            <p>
                Loglet is a tiny tool for keeping tabs on long-running
                processes. Send log messages to Loglet using a simple
                <code>POST</code> request and then view them in your browser or
                subscribe to an Atom feed.
            </p>

            <h3>1. Create a Log</h3>
            <p>
                Hit the button to start a brand-new, empty log.
                You&rsquo;ll get a private, hard-to-guess URL like
                <code>{{ request.url_root }}2LNbYgNEAaezJduj</code>.
            </p>
            <form action="{{ url_for('newlog') }}" method="POST">
                <input type="submit" value="New Log" class="btn primary">
            </form>

            <h3>2. Send Messages</h3>
            <p>
                Send HTTP <code>POST</code> requests to your log&rsquo;s URL.
                Include a <code>message</code> parameter containing your log
                string and, optionally, a <code>level</code> parameter (which
                should be an integer) indicating the severity of the message.
                Try it out with <a href="http://curl.haxx.se/">cURL</a>:
            </p>
            <pre>curl -d message=hello {{ request.url_root }}LOGID</pre>
            <p>
                There&rsquo;s also
                <a href="https://github.com/sampsyo/loglet/blob/master/extra/loglet.py">a
                    handler available</a>
                for the
                <a href="http://docs.python.org/library/logging.html">Python
                    logging module</a>:
            </p>
            <pre>import logging
import loglet
log = logging.getLogger('mylog')
log.addHandler(loglet.LogletHandler('2LNbYgNEAaezJduj'))
log.error('something horrible has happened')</pre>

            <h3>3. Read Your Log</h3>
            <p>
                You can read your log in a browser or get in plain text, JSON,
                or Atom format by appending <code>/txt</code>,
                <code>/json</code>, or <code>/feed</code> to the end of your
                URL.
            </p>
        </div>
        <div class="span5 offset1 columns">
            <h4>Open Source</h4>
            <p>
                Loglet is 
                <a href="https://github.com/sampsyo/loglet">on GitHub</a>.
                Fork and enjoy. It&rsquo;s built with
                <a href="http://flask.pocoo.org/">Flask</a>,
                <a href="http://www.sqlite.org/">SQLite</a>,
                and
                <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
                {% if 'radbox.org' in request.url_root -%}
                Hosted by <a href="http://dreamhost.com/">Dreamhost</a>.
                {%- endif %}
            </p>
            <h4>Coming Soon</h4>
            <p>
                I&rsquo;d like to add notification via Twitter DMs. Check back
                soon.
            </p>
            <h4>Limits</h4>
            <p>
                Log messages are limited to {{ max_msg_length }} characters
                each. Levels can range from {{ min_level }} to {{ max_level }}.
                Each log can have up to {{ max_messages }} messages; old
                messages will be dropped when this limit is exceeded.
            </p>
            <h4>Author</h4>
            <p>
                Loglet is by
                <a href="http://www.cs.washington.edu/homes/asampson/">Adrian
                    Sampson</a>. You might also be interested in
                <a href="http://beets.radbox.org/">beets</a>, an open-source
                music tagger and organizer for mega-nerds.
            </p>
        </div>
    </div>
{% endblock %}
