{% extends "base.html" %}
{% block title %}Loglet: {{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="alternate"
          type="application/atom+xml"
          href="{{ url_for('logfeed', longid=longid) }}">
    <script type="text/javascript">
        var refreshDelaySecs = {{ config.REFRESH_DELAY }};
        var refreshEnabled = false;
        window.onload = function() {
            var tzsel = document.getElementById('tzoffset');
            tzsel.onchange = function(e) {
                tzsel.parentNode.submit();
            };

            // Respond to checkbox clicks.
            var autorf = document.getElementById('autorefresh');
            autorf.onchange = function(e) {
                refreshEnabled = (autorf.value == "on");
            };
            // Check box based on URL.
            if (window.location.search.indexOf('refresh') != -1) {
                autorf.checked = true;
                refreshEnabled = true;
            }

            function doRefresh() {
                if (refreshEnabled) {
                    var url = window.location.origin +
                              window.location.pathname;

                    // Make sure refresh box is checked after refresh.
                    var query = window.location.search;
                    if (query.indexOf('refresh') == -1) {
                        if (query) {
                            query += '&';
                        } else {
                            query = '?';
                        }
                        query += 'refresh=1';
                    }
                    url += query;
                    
                    window.location.replace(url);
                }
                window.setTimeout(doRefresh, refreshDelaySecs * 1000);
            }
            window.setTimeout(doRefresh, refreshDelaySecs * 1000);

            // Automatically select log title.
            var titlebox = document.getElementById('titlebox');
            var didTitleSelect = false;
            titlebox.onclick = function(e) {
                if (!didTitleSelect) {
                    this.select();
                    didTitleSelect = true;
                }
            };
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="span9 main">
            <div class="logtable">
                <div class="row thead">
                    <div class="span2">Time</div>
                    <div class="span1">Level</div>
                    <div class="span6">Message</div>
                </div>
                {% for message in messages -%}
                <div class="row trow" id="{{ message.id | stringid }}">
                    <div class="span2 time">
                        {{ message.time | timeformat(tzoffset) }}
                    </div>
                    <div class="span1 level {{ message.level | levelname }}">
                        {{ message.level | default('&nbsp;' | safe, True) }}
                    </div>
                    <div class="span6 message">{{ message.message }}</div>
                </div>
                {%- endfor %}
            </div>
            {% if not messages -%}
            <p class="emptylog">
                No log messages yet.
            </p>
            {%- endif %}
            <p class="detail">
                You can add to this log by <code>POST</code>ing to this URL
                with a <code>message</code> parameter and an optional
                <code>level</code> parameter.
            </p>
            <p class="detail">
                <code>curl -d message=hello {{ request.base_url }}</code>
            </p>
        </div>
        <div class="span3 columns sidebar">
            <p>
                View as
                <a href="{{ url_for('logtxt', longid=longid) }}">plain text</a>
                or
                <a href="{{ url_for('logjson', longid=longid) }}">JSON</a>
                or subscribe to
                <a href="{{ url_for('logfeed', longid=longid) }}">an
                    Atom feed</a>.
            </p>
            <h5>Time Zone</h5>
            <form action="" method="GET">
                <select name="tzoffset" id="tzoffset">
                {% for offset, name in config.TIME_ZONES -%}
                    <option value="{{ offset }}"
                    {%- if tzoffset == offset %}selected{% endif %}>
                        {{ offset | tzrep }} {{ name }}
                    </option>
                {%- endfor %}
                </select>
            </form>
            <h5>Auto-Refresh</h4>
            <form>
                <input type="checkbox" id="autorefresh" name="autorefresh">
                <label for="autorefresh" class="after">
                    Reload every {{ config.REFRESH_DELAY }} seconds.
                </label>
            </form>
            <h5>Notifications</h5>
            <p>
                Enter your <a href="http://notifo.com/">Notifo</a> username
                to send messages to your phone or desktop.
            </p>
            <form action="{{ url_for('logmeta', longid=longid) }}"
                method="POST">
                <input type="text" name="notifoname" id="notifobox"
                    value="{{ notifoname }}">
            </form>
            <p>
                Notifications are sent for messages with level
                {{ config.NOTIFICATION_THRESHOLD }}
                or greater.
            </p>
            <h5>Log Title</h5>
            <form action="{{ url_for('logmeta', longid=longid) }}"
                method="POST">
                <input type="text" name="title" id="titlebox"
                    value="{{ title }}">
            </form>
        </div>
    </div>
{% endblock %}
