{% extends "base.html" %}
{% block title %}Loglet: A Log{% endblock %}
{% block content %}
    <h1>A Log</h1>
    <p>
        View as <a href="/{{ longid }}/txt">plain text</a> or
        <a href="/{{ longid }}/json">JSON</a>.
    </p>
    <table class="common-table">
        <thead><tr>
            <td>Time</td>
            <td>Level</td>
            <td>Message</td>
        </tr></thead>
        {% for message in messages -%}
        <tr>
            <td class="time">{{ message.time | timeformat }}</td>
            <td class="level">{{ message.level }}</td>
            <td class="message">{{ message.message }}</td>
        </tr>
        {%- endfor %}
    </table>
    <p>
        You can add to this log by <code>POST</code>ing to this URL
        with a <code>message</code> parameter and an optional <code>level</code>
        parameter.
    </p>
{% endblock %}
