{% extends "base.html" %}
{% block title %}Loglet: {{ longid }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="alternate"
          type="application/atom+xml"
          href="{{ url_for('logfeed', longid=longid) }}">
{% endblock %}
{% block content %}
    <h1>A Loglet Log</h1>
    <p>
        View as
        <a href="{{ url_for('logtxt', longid=longid) }}">plain text</a>
        or
        <a href="{{ url_for('logjson', longid=longid) }}">JSON</a>
        or subscribe to
        <a href="{{ url_for('logfeed', longid=longid) }}">an Atom feed</a>.
    </p>
    <table class="common-table">
        <thead><tr>
            <td>Time</td>
            <td>Level</td>
            <td>Message</td>
        </tr></thead>
        {% for message in messages -%}
        <tr>
            <td class="time">{{ message.time | timeformat(tzoffset) }}</td>
            <td class="level {{ message.level | levelname }}">
                {{ message.level | default('', True) }}
            </td>
            <td class="message">{{ message.message }}</td>
        </tr>
        {%- endfor %}
    </table>
    {% if not messages -%}
    <p class="emptylog">
        No log messages yet.
    </p>
    {%- endif %}
    <p>
        You can add to this log by <code>POST</code>ing to this URL
        with a <code>message</code> parameter and an optional <code>level</code>
        parameter.
    </p>
    <p><code>curl -d message=hello {{ request.base_url }}</code></p>
{% endblock %}
